<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/build/user.css">
    <header class="user">
        <div class="user-banner">
            <h2 class="user-banner-logo">
                <%- user.username.at(0).toUpperCase() %>
            </h2>
            <div class="user-banner-info">
                <p>Profile of</p>
                <h1 class="user-banner-name">
                    <%- user.username %>
                </h1>
            </div>
        </div>
        <div class="user-content">
            <div class="content-sort">
                <div class="content-sort-tab">
                    <a href="/user/<%= user.username %>">Posts</a>
                </div>
                <div class="content-sort-tab content-active">
                    <a href="/user/<%= user.username%>/comments/">Comments</a>
                </div>
            </div>
            <div class="user-sort">
                <div class="user-sort-tab tab-active">
                    <a href="/user/<%= user.username %>/comments">New</a>
                </div>
                <div class="user-sort-tab">
                    <a href="/user/<%= user.username%>/comments/top">Top</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="sidebar-section">
                <div class="stats">
                    <h3>Member since:</h3>
                    <p>
                        <%- moment(user.dateCreated).format('ll') %>
                    </p>
                </div>
                <div class="stats">
                    <h3># of posts:</h3>
                    <p>
                        <%- user.posts.length %>
                    </p>
                </div>
                <div class="stats">
                    <h3># of comments:</h3>
                    <p>
                        <%- user.comments.length %>
                    </p>
                </div>
            </div>
        </div>
        <ul>
            <div class="post">
                <div class="post-row">
                    <div class="post-section">
                        <h2>New Comments from
                            <%- user.username %>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="posts">
            </div>

            <div class="loader">
                <img src="/images/loading.svg" alt="">
            </div>
        </ul>
    </main>
    <script src="/javascripts/infinitescrollUser.js"></script>