<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/user.css">

    <header class="user">
        <div class="user-banner">
            <h2 class="user-banner-logo">
                <%- user.username.at(0).toUpperCase() %>
            </h2>
            <div class="user-banner-info">
                <p>Profile of</p>
                <h1 class="user-banner-name">
                    <%- user.username %>
                </h1>
            </div>
        </div>
        <div class="user-sort">
            <div class="user-sort-tab tab-active">
                <a href="/user/<%= user._id %>">New</a>
            </div>
            <div class="user-sort-tab">
                <a href="/user/<%= user._id%>/top">Top</a>
            </div>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="sidebar-section">
                <div class="stats">
                    <h3>Member since:</h3>
                    <p>
                        <%- moment(user.dateCreated).format('ll') %>
                    </p>
                </div>
                <div class="stats">
                    <h3># of posts:</h3>
                    <p>
                        <%- user.posts.length %>
                    </p>
                </div>
                <div class="stats">
                    <h3># of comments:</h3>
                    <p>
                        <%- user.comments.length %>
                    </p>
                </div>
            </div>
        </div>
        <ul>
            <div class="post">
                <div class="post-row">
                    <div class="post-section">
                        <h2>New Posts from
                            <%- user.username %>
                        </h2>
                    </div>
                </div>
            </div>
            <% user.posts.sort((a,b)=> new moment(b.dateCreated).format('YYYYMMDDHHmmss')- new
                moment(a.dateCreated
                ).format('YYYYMMDDHHmmss')) %>
                <% for (let post of user.posts) { %>
                    <div class="post">
                        <div class="post-row">
                            <div class="post-section" id="rating">
                                <p>
                                    <%- post.rating %>
                                </p>
                            </div>
                            <div class="post-section img-fluid">
                                <img src="/images/testicon.png" alt="" class="">
                            </div>
                            <div class="post-section">
                                <div class="post-col">
                                    <div class="post-col">
                                        <a href="/c/<%= post.community._id%>/posts/<%= post._id%>" class="post-title">
                                            <%- post.title %>
                                        </a>
                                    </div>

                                    <p class="post-small">
                                        <%- moment(post.dateCreated).format('lll') %> to <a
                                                href="/c/<%= post.community._id %>" class="community-redirect">
                                                c/<%- post.community.name %>
                                            </a>
                                    </p>
                                    <div class="post-row">
                                        <p class="post-small">
                                            <a href="/c/<%= post.community._id%>/posts/<%= post._id%>/#comments">
                                                <% if(post.comments.length===1) {%>
                                                    <%- post.comments.length %> comment
                                                        <% } else { %>
                                                            <%- post.comments.length %> comments
                                                                <% } %>

                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="post">
                            <div class="post-row">
                                <div class="post-section">
                                    <h2>New Comments from
                                        <%- user.username %>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <% user.comments.sort((a,b)=> new moment(b.dateCreated).format('YYYYMMDDHHmmss')- new
                            moment(a.dateCreated
                            ).format('YYYYMMDDHHmmss')) %>
                            <% for (let comment of user.comments) { %>
                                <div class="post">
                                    <div class="post-row">
                                        <div class="post-section" id="rating">
                                            <p>
                                                <%- comment.rating %>
                                            </p>
                                        </div>
                                        <div class="post-section">
                                            <div class="post-col">
                                                <div class="post-col">
                                                    <a href="/c/<%= comment.post.community._id %>/posts/<%= comment.post._id %>/#<%= comment._id %>"
                                                        class="community-redirect comment-header">
                                                        <% if (comment.post.title.length>= 50) {%>
                                                            <%- comment.post.title.substring(0,49) %>...
                                                                <% } else { %>
                                                                    <%- comment.post.title %>
                                                                        <% } %>
                                                    </a>
                                                    <p class="comment-header post-body">
                                                        <%- comment.body %>
                                                    </p>
                                                </div>

                                                <p class="post-small">
                                                    <%- moment(comment.dateCreated).format('lll') %> in
                                                        <a href="/c/<%= comment.post.community._id %>/">
                                                            c/<%- comment.post.community.name %>
                                                        </a>

                                                </p>
                                                <div class="post-row">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
        </ul>
    </main>