<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/build/communities.css">

    <header class="community">
        <div class="community-banner">
            <img src="/images/testicon.png" alt="">
            <div class="community-banner-info">
                <h1 class="community-name">
                    <%- community.name %>
                </h1>
                <p>
                    <%- community.description %>
                </p>
            </div>
        </div>
        <div class="community-sort">
            <div class="community-sort-tab">
                <a href="/c/<%= community.name%>">New</a>
            </div>
            <div class="community-sort-tab tab-active">
                <a href="/c/<%= community.name%>/top">Top</a>
            </div>
            <div class="community-sort-tab">
                <a href="/c/<%= community.name%>/hot">Hot</a>
            </div>
        </div>
    </header>
    <main>
        <%- include('../partials/communities/sidebar') %>
            <ul>
                <div class="posts">
                </div>

                <div class="loader">
                    <img src="/images/loading.svg" alt="">
                </div>
            </ul>
    </main>
    <<script src="/javascripts/infinite-scroll/infinitescroll.js"></script>