<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/communities.css">
    <div class="community">
        <header>
            <div class="community-banner">
                <img src="/images/testicon.png" alt="">
                <h1 class="community-name">
                    <%- community.name %>
                </h1>
                <p>
                    <%- community.description %>
                </p>
            </div>
        </header>
    </div>
    <h2>
        Created by
        <%- community.creator.username %>
    </h2>
    <% if(currentUser && community.creator.equals(currentUser._id)) { %>
        <form action="/c/<%= community._id %>?_method=DELETE" method="POST">
            <button>Nuke it</button>
        </form>
        <form action="/c/<%= community._id %>/edit">
            <button>Edit</button>
        </form>
        <% } %>
            <% if(currentUser) { %>
                <form action="/c/<%= community._id %>/posts/new">
                    <button>New Post</button>
                </form>
                <% } %>
                    <ul>
                        <% for (let post of community.posts) { %>
                            <div class="post" mb-3>
                                <div class="post-row">
                                    <div class="post-section">
                                        <%- post.rating %>
                                    </div>
                                    <div class="post-section">
                                        <img src="/images/testicon.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="post-section">
                                        <a href="/c/<%= community._id %> /posts/<%= post._id%>" class="post-title">
                                            <%- post.title %>
                                        </a>
                                        <p>
                                            Submitted by
                                            <a href="">
                                                <%- post.author.username %>
                                            </a>
                                            on
                                            <%- post.dateCreated %>
                                        </p>
                                        <p>
                                            <%- post.comments.length %> comments</p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </ul>
                    <script>
                    </script>